@charset "utf-8";

#header {
	position: absolute;
	top: -10px;
	left: -5px;
}

#utility {
	position: absolute;
	top: 70px;
	left: 480px;
}

#utility #chinese {
	position: absolute;
	left: 30px;
}

#utility #japenese {
	position: absolute;
	left: 180px;
}

#flash {
	position: absolute;
	margin-left: -3px;
}

#utility ul {
	position: absolute;
	left: 320px;
	top: 50px;
	margin: 0;
	padding: 0;
}

#utility ul li {
	display: inline;
	float: left;
	margin-left: 0;
	padding-left: 30px;
}

#header #flash {
	position: absolute;
	top: 10px;
	left: 390px;
}

#mainBnr {
	float: left;
	position: relative;
	top: 90px;
	left: 235px;
	width: 500px;
	height: 276px;
	margin-bottom: 10px;
	display: inline;
}

#mainBnr p {
	position: absolute;
	width: 60px;
	height: 60px;
	top: 100px;
	z-index: 100;
}

#slidesPrev {
	left: 0;
}

#slidesNext {
	left: 440px;
}

.slides_container {
	position: relative;
	width: 500px;
	height: 276px;
	overflow: hidden;
}

#welcome {
	position: absolute;
	top: -12px;
	left: 578px;
	text-indent: -50px;
}

#exit {
	position: absolute;
	top: 10px;
	left: 555px;
	text-indent: -20px;
}

#login-button {
	position: absolute;
	top: 35;
	left: 520px;
}

#regist-button {
	position: absolute;
	top: 85px;
	left: 520px;
}

#search {
	position: absolute;
	top: 140px;
	left: 525px;
}

#search select {
	margin: 12px 0 10px 0;
}

#search input {
	margin: 3px 0 12px 0;
}

#btn_del {
	width: 44px;
	height: 14px;
	position: absolute;
	top: 88px;
	left: 120px;
	cursor: pointer;
}

#list-item {
	float: left;
	position: absolute;
	top: 80px;
	left: 5px;
}

#bookrank {
	background: url(../images/rank-banner.png) no-repeat;
	position: absolute;
	top: 530px;
	width: 215px;
	height: 480px;
}

#bookrank ol {
	position: absolute;
	top: 50px;
	zoom: normal !important;
}

#bookrank ol li{
	color:#EE2C2C;
}
a:link {
color: #A52A2A;
text-decoration: none;
}

a:visited {
color: #A52A2A;
text-decoration: none;
}

a:hover, a:visited:hover {
color: #EE9572;
text-decoration: underline;
}

a:active {
color: #EE9572;
text-decoration: underline;
}

a:focus {
-moz-outline-style: none;
-moz-overflow:hidden;
}

a{
overflow:hidden;
}



#hotbooks {
	background: url(../images/hot-banner.png) no-repeat;
	position: absolute;
	top: 405px;
	left: 238px;
	width: 904px;
	height: 508px;
	text-indent: 50px;
}

#hotbook1 {
	position: absolute;
	top: 68px;
	left: 45px;
	z-index: 100;
}

#hotbook2 {
	position: absolute;
	top: 68px;
	left: 242px;
	z-index: 100;
}

#hotbook3 {
	position: absolute;
	top: 68px;
	left: 435px;
	z-index: 100;
}

#cheapbooks {
	background: url(../images/cheap-banner.png) no-repeat;
	position: absolute;
	top: 719px;
	left: 238px;
	width: 904px;
	height: 508px;
	text-indent: 50px;
}

#cheapbook1 {
	position: absolute;
	top: 69px;
	left: 45px;
	z-index: 100;
}

#cheapbook2 {
	position: absolute;
	top: 69px;
	left: 242px;
	z-index: 100;
}

#cheapbook3 {
	position: absolute;
	top: 69px;
	left: 435px;
	z-index: 100;
}

#bottom-line {
	position: absolute;
	top: 1100px;
}

#bottom {
	position: absolute;
	top: 1180px;
	left: 160px;
}

#book-ico {
	position: absolute;
	top: -60px;
	left: 288px;
}

#bottom-text1 {
	position: absolute;
	left: 160px;
}

#bottom-text2 {
	position: absolute;
	left: 280px;
}

#bottom-text3 {
	position: absolute;
	left: 400px;
}